In [2]:
!pip install pandas
!pip install numpy

Collecting pandas
  Downloading pandas-1.3.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (10.8 MB)
     |████████████████████████████████| 10.8 MB 16.4 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2021.1)
Collecting numpy>=1.17.3
  Downloading numpy-1.21.0-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (15.7 MB)
     |████████████████████████████████| 15.7 MB 38.9 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.21.0 pandas-1.3.0
Requirement already satisfied: numpy in /srv/conda/envs/notebook/lib/python3.7/site-packages (1.21.0)

In [3]:
import pandas as pd
import numpy as np  
import os

In [4]:
#Import Files
Train_label = pd.read_csv('Training set labels.csv')
Train_value = pd.read_csv('Training set values.csv')
Test_value = pd.read_csv('Test set values.csv')

In [5]:
# Merger Train value and label 
Train = pd.merge(Train_value,Train_label, how='inner',left_on='id',right_on='id', left_index=False)

In [6]:
# For Data Explore
Train.to_csv('Train.csv')
Train.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

In [7]:
df_no_label = pd.concat([Train_value,Test_value])
df_no_label.shape

(74250, 40)

In [8]:
df_no_label.isnull().sum()

id                           0
amount_tsh                   0
date_recorded                0
funder                    4504
gps_height                   0
installer                 4532
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 470
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            4155
recorded_by                  0
scheme_management         4846
scheme_name              35258
permit                    3793
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
dtype: int64

In [9]:
df_no_label.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74250 entries, 0 to 14849
Data columns (total 40 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     74250 non-null  int64
 1   amount_tsh             74250 non-null  float64
 2   date_recorded          74250 non-null  object
 3   funder                 69746 non-null  object
 4   gps_height             74250 non-null  int64
 5   installer              69718 non-null  object
 6   longitude              74250 non-null  float64
 7   latitude               74250 non-null  float64
 8   wpt_name               74250 non-null  object
 9   num_private            74250 non-null  int64
 10  basin                  74250 non-null  object
 11  subvillage             73780 non-null  object
 12  region                 74250 non-null  object
 13  region_code            74250 non-null  int64
 14  district_code          74250 non-null  int64
 15  lga                    74250 non-null  object
 16  ward                   74250 non-null  object
 17  population             74250 non-null  int64
 18  public_meeting         70095 non-null  object
 19  recorded_by            74250 non-null  object
 20  scheme_management      69404 non-null  object
 21  scheme_name            38992 non-null  object
 22  permit                 70457 non-null  object
 23  construction_year      74250 non-null  int64
 24  extraction_type        74250 non-null  object
 25  extraction_type_group  74250 non-null  object
 26  extraction_type_class  74250 non-null  object
 27  management             74250 non-null  object
 28  management_group       74250 non-null  object
 29  payment                74250 non-null  object
 30  payment_type           74250 non-null  object
 31  water_quality          74250 non-null  object
 32  quality_group          74250 non-null  object
 33  quantity               74250 non-null  object
 34  quantity_group         74250 non-null  object
 35  source                 74250 non-null  object
 36  source_type            74250 non-null  object
 37  source_class           74250 non-null  object
 38  waterpoint_type        74250 non-null  object
 39  waterpoint_type_group  74250 non-null  object
dtypes: float64(3), int64(7), object(30)
memory usage: 23.2+ MB

In [10]:
from pandas.api.types import CategoricalDtype

In [13]:
df_no_label[df_no_label.select_dtypes(['object']).columns] = df_no_label.select_dtypes(['object']).apply(lambda x: x.astype('category'))

In [14]:
df_no_label.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74250 entries, 0 to 14849
Data columns (total 40 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     74250 non-null  int64
 1   amount_tsh             74250 non-null  float64
 2   date_recorded          74250 non-null  category
 3   funder                 69746 non-null  category
 4   gps_height             74250 non-null  int64
 5   installer              69718 non-null  category
 6   longitude              74250 non-null  float64
 7   latitude               74250 non-null  float64
 8   wpt_name               74250 non-null  category
 9   num_private            74250 non-null  int64
 10  basin                  74250 non-null  category
 11  subvillage             73780 non-null  category
 12  region                 74250 non-null  category
 13  region_code            74250 non-null  int64
 14  district_code          74250 non-null  int64
 15  lga                    74250 non-null  category
 16  ward                   74250 non-null  category
 17  population             74250 non-null  int64
 18  public_meeting         70095 non-null  category
 19  recorded_by            74250 non-null  category
 20  scheme_management      69404 non-null  category
 21  scheme_name            38992 non-null  category
 22  permit                 70457 non-null  category
 23  construction_year      74250 non-null  int64
 24  extraction_type        74250 non-null  category
 25  extraction_type_group  74250 non-null  category
 26  extraction_type_class  74250 non-null  category
 27  management             74250 non-null  category
 28  management_group       74250 non-null  category
 29  payment                74250 non-null  category
 30  payment_type           74250 non-null  category
 31  water_quality          74250 non-null  category
 32  quality_group          74250 non-null  category
 33  quantity               74250 non-null  category
 34  quantity_group         74250 non-null  category
 35  source                 74250 non-null  category
 36  source_type            74250 non-null  category
 37  source_class           74250 non-null  category
 38  waterpoint_type        74250 non-null  category
 39  waterpoint_type_group  74250 non-null  category
dtypes: category(30), float64(3), int64(7)
memory usage: 11.4 MB